.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url('images/Home\ 01.jpg');
  min-height: 75%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}